@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4 text-center">Climei – GLOBAL SOLUTION</h1>
    <h2 class="display-8">Dashboard</h2>

    <div class="d-flex gap-4">
        <a asp-controller="Usuarios" asp-action="Index" card-title="Usuários" card-icon="bi-people-fill" card-bg-color="bg-success" card-text='@ViewData["QntdUsers"]'>
            <!-- O conteúdo do Tag Helper será gerado aqui automaticamente -->
        </a>

        <a asp-controller="NivelUmidades" asp-action="Index" card-title="Níveis de Umidade" card-icon="bi-droplet-fill" card-bg-color="bg-primary" card-text='@ViewData["QntdUmidade"]'>
            <!-- O conteúdo do Tag Helper será gerado aqui automaticamente -->
        </a>

        <a asp-controller="NivelTemperaturas" asp-action="Index" card-title="Níveis de Temperatura" card-icon="bi-thermometer-half" card-bg-color="bg-danger" card-text='@ViewData["QntdTemp"]'>
            <!-- O conteúdo do Tag Helper será gerado aqui automaticamente -->
        </a>
    </div>

    <hr />
    <h2 class="display-8">Funcionalidades implementadas</h2>
    <p>Para essa solução ASP.NET Core foram implementadas o CRUD para as seguintes entidades:</p>
    <ul>
        <li><strong>Usuario e DadosUsuario</strong> - Entidades exclusivas para salvar informações do usuário. A primeira servindo para salvar dados gerais sobre o usuário e o segundo para todas as informações médicas necessárias. </li>
        <li><strong>LogAgua</strong> - Entidade feita para guardar o log de água ingerida por um usuário</li>
        <li><strong>LogTemperatura</strong> - Entidade feita para guardar o log de Temperatura, capturado pelo sensor de temperatura do usuário</li>
        <li><strong>LogUmidade</strong> - Entidade feita para guardar o log de Temperatura, capturado pelo sensor de umidade do usuário</li>
        <li><strong>LogBatimentoOxigenacao</strong> - Entidade feita para guardar o log de Temperatura, capturado pelo sensor de batimento cardíaco do usuário. Atualmente, devido a limitações técnicas do projeto, não foi possível utilizar o sensor de oxigenação para salvar os dados, logo iremos salvar apenas a frequência cardíaca.</li>
        <li><strong>NivelTemperatura</strong> - Entidade para guardar os diferentes níveis de "qualidade" da Temperatura (bom, ruim, excelente, etc)</li>
        <li><strong>NivelUmidade</strong> - Entidade para guardar os diferentes níveis de "qualidade" da Umidade (bom, ruim, excelente, etc)</li>
    </ul>
    <p>Tendo essa aplicação MVC em mãos, podemos usar ela como uma aplicação de suporte para o aplicativo da <strong>#Climei</strong>.</p>

    <hr />
    <h2 class="display-8">Funcionalidades além do CRUD</h2>
    <ul>
        <li>Dashboard na página Home</li>
        <li>Barra de pesquisa por nome na página de Usuários</li>
    </ul>
    <hr />
    <h2 class="display-8">Sobre a solução</h2>
    <p>O Climei é um aplicativo desenvolvido por nós da Technoware Solutions com o propósito de zelar pela saúde das pessoas em face das variáveis climáticas. Reconhecendo o impacto significativo do clima na saúde, o Climei oferece uma gama de funcionalidades para auxiliar os usuários a se protegerem dos efeitos adversos. Como por exemplo: em dias de calor intenso, onde a desidratação e o esgotamento por calor são preocupações, o aplicativo fornece orientações personalizadas, ou seja, recomendações como a ingestão de até 2 litros de água, permanecer em ambientes frescos, vestir roupas leves e evitar exercícios físicos intensos são adaptadas de acordo com as condições climáticas e as características individuais do usuário. Além disso, o Climei vai além, oferecendo alertas sobre a possibilidade de ondas de calor, conselhos específicos para quem lida com condições crônicas como diabetes ou asma, e sugestões de atividades físicas apropriadas para o clima do momento.</p>
    <p>A tecnologia por trás do Climei é impulsionada por sensores de Internet das Coisas (IoT), que monitoram em tempo real dados como temperatura, umidade, batimentos cardíacos e níveis de oxigenação no sangue. Essa coleta precisa de informações permite que o aplicativo forneça insights ainda mais refinados e personalizados. Por exemplo, ao utilizar os dados de temperatura e umidade, o Climei pode calcular a taxa de transpiração do usuário, fornecendo orientações específicas sobre a quantidade de água necessária para evitar a desidratação.</p>
    <p><strong>#Climatizado</strong></p>
</div>
